*{
  margin:0;
  padding:0;
  border:0;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.grid-column {
  flex: 100%;
  padding: 0 4px;
}

.grid-row-2 {
  display: flex;
  flex-wrap: wrap;
}

.grid-column-2 {
  flex: 50%;
}

div.grid-row-2 > .grid-column-2 {
  padding-right: 4px;
}

div.grid-row-2 > .grid-column-2 ~ .grid-column-2 {
  padding-right: 0;
  padding-left: 4px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.grid-column-2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media all and (min-width: 1280px){
  .grid-column {
    flex: 50%;
  }
}
